:root{
    --primary:red;
   --secondary:blue;
   --light:white;
   --dark:black;
   --text-lg: 30px;
   --text-md: 20px;
  --text-sm:16px;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.promo-offer h2{
    font-size: 20px;
    font-family: 'lobster two';
    font-weight: bold;
    color: var(--primary);
}

.body{
    background-image: url(../images/amala247\ bacground\ white.jpg);
}
.promo-offer h3{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
}

.promo-offer p{
    line-height: 30px;
    font-size: 16px;
    font-family: 'lobster two';
}

.span{
font-weight: bold;
font-family: 'lobster two';
font-size: 18px;
}

/* MEDIA QUERY */

@media screen and (max-width:540px){
    .promo-offer h3{
        font-size: 12px;
      
    }

    .promo-offer p{
        font-size: 10px;
    }

    .span{
        font-size: 14px;
    }
}
