/* 
body{
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.welcome {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1{
    font-size: 28px;
    text-align: center;
    font-family: lobster Two;
    font-weight: bold;
}


p {
    text-align: center;
    margin-bottom: 20px;
} */